COTO_E2E=0
COTO_EMAIL=
COTO_PASSWORD=
COTO_PHONE=
COTO_OTP=
COTO_DCL_THRESHOLD_MS=8000
COTO_FIREFOX=0
COTO_WEBKIT=0
COTO_MOBILE=0
COTO_SLOWMO_MS=0
COTO_STEP_DELAY_MS=400
COTO_BOOKING_NAME=
COTO_BOOKING_EMAIL=
COTO_BOOKING_PHONE=
COTO_BOOKING_DATE=
